﻿/* reset css*/
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
	font-size: 12px;
}
ul, li {
	list-style: none;
}

body {
	background-color: #EFEFEF;
	color: #555;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.hd {
	height: 44px;
	background: #3D668F url(../img/top-bg.png) 0 0 repeat-x;
	overflow: hidden;
}
.logo {
	float: left;
	width: 210px;
	line-height: 44px;
	padding: 0 10px;
	font-size: 18px;
	color: #FFF;
}
.actions {
	float: left;
	margin-top: 7px;
}
.actions li {
	float: left;
	margin-left: 10px;
}
.action-item {
	display: inline-block;
	border: solid 1px #26445F;
	text-shadow: 0 1px 1px #253E5C;
	color: white;
	font-weight: bold;
	line-height: 26px;
	background: url(../img/actions.png) 0 -26px no-repeat #45719B;
	cursor: pointer;
}
.action-item:hover {
	background-position: 0 0;
}
.action-item span {
	display: inline-block;
	padding: 0 10px 0 30px;
	line-height: 26px;
	background: url(../img/actions.png) 0 -26px no-repeat
}
.action-run span {
	background-position: 8px -100px;
}
.action-reset span {
	background-position: 8px -168px;
}
.action-tidyup span {
	background-position: 8px -270px;
}
.action-jslint span {
	background-position: 8px -338px;
}
.action-share span {
	background-position: 8px -371px;
}
.col-sub {
	width: 220px;
	background-color: #FFF;
	position: absolute;
	left: 0;
	border: 1px solid #E1E1E1;
	border-width: 1px 1px 0px 0px;
	margin-top: 10px;
}
.col-sub .toggler {
	font-size: 12px;
	font-weight: normal;
	color: #858585;
	height: 36px;
	line-height: 36px;
	padding: 0 8px;
	cursor: pointer;
	background: url(../img/sprites.png) no-repeat 200px 14px #F8F8F8;
}
.col-sub .toggler:hover {
	background-color: #E9E9E9;
}
.col-sub .active {
	background-position: 200px -21px;
	background-color: #E9E9E9;
	color: #333;
}
.col-sub .sidebar-item {
	border-bottom: 1px solid #D5D5D5;
	padding: 10px;
}
.col-sub .tip {
	background: #FEFFE5;
	padding: 7px;
	border: 1px solid #EBBA95;
	color: #C98657;
	margin: 7px 8px 10px;
	line-height: 130%;
	text-shadow: 0 1px 0 #FFF7F4;
	display: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.col-sub .sidebar-item select {
	width: 100%;
	margin: 3px;
	height: 25px;
}
#J_externalResourcesForm {
	height: 30px;
	width: 210px;
}
#J_externalResource {
	height: 14px;
	width: 166px;
	float: left;
	padding: 6px 5px;
	color: #626262;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 3px #E4E4E4;
}
#J_addExternalResource {
	border: solid 1px #ADADAD;
	border-left: none;
	background: #DFDFDF url(../img/sprites.png) 0 -57px;
	float: left;
	height: 26px;
	width: 26px;
	cursor: pointer;
}
.external_resources_list {

}
.external_resources_list li {
	padding: 5px 3px;
}
.external_resources_list .resource-item {
	*float: left;
}
.external_resources_list a,
.external_resources_list a:visited {
	color: #5AA4D7;
	text-decoration: none;
}
.external_resources_list a:hover {
	text-decoration: underline;
}
.external_resources_list a.enable-toggler,
.external_resources_list a.remove {
	display: inline-block;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background:url(../img/sprites.png) 0 0 no-repeat;
	float: right;
	margin-left: 3px;
}
.external_resources_list a.enable {
	background-position: -14px -96px;
}
.external_resources_list a.disable {
	background-position: -29px -96px;
}
.external_resources_list a.remove {
	background-position: -14px -84px;
}
.external_resources_list a.remove:hover {
	background-position: 0 -84px;
}
.language-item input,
.language-item label,
.develope-item input,
.develope-item label {
	height: 14px;
	vertical-align: middle;
	margin-left: 8px;
}

.col-main {
	margin-left: 230px;
}
#J_editor {
	/*position: fixed;
	bottom: 0;
	left: 230px;*/
	position: relative;
	/*min-width: 800px;
	min-height: 300px;*/
	background-color: #FFF;
	border: 1px solid #E1E1E1;
	border-width: 1px 0 1px 1px;
}
#J_editor .tab {
	height: 30px;
	background-color: #F7F7F7;
	padding-left: 29px;
	*zoom: 1;
}
#J_editor .tab li {
	float: left;
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
	border-right: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	margin-right: -1px;
	cursor: pointer;
}
#J_editor .tab li.current {
	background-color: #FFF;
}
#J_editor .tab li:hover {

}
.editor-item {
	height: 1px;
}
#J_htmlEditor {
	display: block;
}
.CodeMirror-linenumbers {
	width: 29px;
}
#J_demoIframe {
	background-color: #FFF;
	margin-top: 10px;
	border: 1px solid #E1E1E1;
	border-width: 1px 0 1px 1px;
	height: 300px;
}
#J_externalResources,
#J_assets,
#J_lib,
#J_language {
	display: none;
}

#J_console {
	background: url(../img/sprites.png) repeat-y -40px 0;
	padding: 4px 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
.console-wrap p {
	line-height: 2em;
	color: #000;
	font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	margin-left: 30px;
	border-bottom: 1px solid #E1E1E1;
}
.console-wrap .linenumber {
	width: 26px;
	padding-right: 3px;
	margin-right: 4px;
	margin-left: -30px;
	display: inline-block;
	text-align: right;
	color: #999;
}
.console-wrap .event {
	background-color: #A7CC25;
	margin-right: 5px;
}
.console-wrap .fn {
	background-color: #A6C9D7;
	margin-right: 5px;
}
.console-wrap .info {
	background-color: #89D;
	margin-right: 5px;
}
#J_fullScreen {
	position: absolute;
	left: 8px;
	top: 8px;
	display: block;
	height: 14px;
	width: 15px;
	background: url(../img/sprites.png) no-repeat 0 -120px;
	cursor: pointer;
}

.col-sub .component-list {
	line-height: 30px;
	padding: 8px 0;
}
.col-sub .component-list li {
	padding-left: 30px;
	border: 1px solid #FFF;
}
.col-sub .component-list li:hover,
.col-sub .component-list li.current {
	background-color: #F1F1F1;
}