﻿html {
    overflow: auto;
}
body.no-scroll {
    overflow-y: auto;
}

/* tangram demo */
.tangram-demo {
    padding: 10px;
    overflow-y: visible;
}
.tangram-demo .ac-h1 {
    height: 30px;
    background-color: #EBEBEB;
    line-height: 30px;
    padding-left: 5px;
    border-left: 3px solid #A7A7A7;
}

/* magic demo */
.magic-demo {
    padding: 10px;
    font-size: 12px;
    min-height: auto;
}
.magic-demo .demo-list {
    display: none;
}
.magic-demo .content {
    margin: 0;
}
.magic-demo .main-wrap {
    margin: 0;
}
.magic-demo .demo-wrap {
    background-color: #FFF;
    color: #000;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}
.magic-demo .demo-wrap h3 {
    height: 30px;
    background-color: #EBEBEB;
    line-height: 30px;
    padding-left: 5px;
    border-left: 3px solid #A7A7A7;
    color: #3C70A5;
    font-weight: bold;
    text-shadow: 0 0;
    margin: 0;
}
.console-wrap {
    display: none;
}